body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    margin: 0;
    padding: 20px;
}


h1 {
    color: #7a0019;
    text-align: center;
}


h2 {
    color: #7a0019;
}

.card {
    background-color: rgb(247, 165, 89);
    border: 2px solid #5470ce;
    border-radius: 30px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 3px 8px #ccc;

}



.track-card {
    background-color: #7791f9;
    border: 2px solid #e7b068;
    border-radius: 30px;
    padding: 2px;
    margin: 1px;
   
}


.runner-card {
    background-color: #dadee7;
    border: 2px solid #f3d492;
    border-radius: 30px;
    padding: 2px;
    margin: 15px;

}



.card-container { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


nav {
    background-color: #222;
    padding: 10px;
    margin-top: 30px;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}


nav a {
    color: white;
    text-decoration: none;
}


nav a:hover {
    color: #ffcc00;
}


/* Images */
img {
    max-width: 300px;
    border: 3px solid #7a0019;
    border-radius: 10px;
}